#second-buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
}

.first-buttons {
    margin-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#submit {
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-family: 'letrarot';
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #727272;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(65, 44, 87, 0.748);
}