.imagen-carta-unica {
    border-radius: 20px;
    max-width: 250px;
    max-height: 350px;
}
.imagen-carta {
    border-radius: 20px;
    max-width: 250px;
    max-height: 350px;
}

#imageContainer {
    display: flex; /* Usa flexbox para la alineación */
    justify-content: space-evenly; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente (opcional) */
    gap: 20px; /* Espacio entre las imágenes (ajusta según lo que necesites) */
    margin: 20px; /* Espacio externo alrededor del contenedor (opcional) */
}

.reverse-card {
    width: 200px; /* Ajusta el ancho de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de las imágenes */
    transition: transform 0.3s ease; /* Transición suave para el efecto de hover */
    position: relative;
    border-radius: 5%;
}

.reverse-card:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% al pasar el ratón */
}

.mazo {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carta-final-unica {
    display: grid;
    grid-template-rows: auto 1fr; /* Dos filas: una para el título y otra para la imagen y el texto */
    grid-template-columns: 1fr 1fr; /* Dos columnas para la imagen y el texto */
    gap: 10px;
    justify-items: center; /* Centra los elementos horizontalmente en sus celdas */
    max-width: 800px; /* Puedes ajustar el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    text-align: center;
}

.titulo-carta-unica {
    grid-column: 1 / 3; /* Ocupa ambas columnas en la primera fila */
    margin-bottom: 1rem; /* Elimina cualquier margen adicional */
}

.imagen-carta-unica {
    border-radius: 20px;
    max-width: 300px;
    max-height: 400px;
    grid-row: 2; /* Segunda fila */
    grid-column: 1; /* Primera columna */
    align-self: start; /* Alinea la imagen en la parte superior de su celda */
}

.texto-carta {
    grid-row: 2; /* Segunda fila */
    grid-column: 2; /* Segunda columna */
    text-align: left; /* Alinea el texto a la izquierda */
    align-self: center; /* Alinea verticalmente el texto en el centro de la celda */
    padding: 0 10px; /* Agrega un poco de espacio alrededor del texto */
    font-size: 20px;
}


.respuesta-completa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre las cartas */
    flex-wrap: wrap;
}

.carta-final {
    text-align: center;
}

.definicion-carta {
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.titulo-carta {
    margin-bottom: 0.5rem;
}

@media (max-width: 420px) {
    #imageContainer {
        flex-direction: column;
    }
    .reverse-card {
        width: 150px;
    }
    .mazos {
        margin-top: 6rem;
    }
    .carta-final-unica{
        display: flex;
        flex-direction: column;
    }
    .texto-carta{
        text-align: center;
        margin-top: 1rem;
    }
    .imagen-carta{
        width: 150px;
    }
}