footer {
    font-size: 0.75rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 420px) {
    footer{
      position: fixed;
      margin-top: 30px;
      margin-bottom: 10px;
      z-index: -1;
    }
  }